body{
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%; 
    padding-left: 2%;
}
.half-width img{
    width: 88%;

}
.top-banner{
   background-repeat: no-repeat;
    background-image: url("image/banner\ 2.png");
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
   
text-decoration: none;
background-image: linear-gradient(45deg, lightsalmon,tomato);
padding: 10px 20px;
border-radius: 5px;
color: antiquewhite;
font-weight: 700;
}

.dream-area{
    background-image: url(image/bg\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 65%;
}

#full-stack{
    border-left: 8px solid orange;
    background-color: whitesmoke;
}
#baby-web{
    border-left: 8px solid rgb(241, 56, 118);
    background-color: whitesmoke;
}
footer p {
text-align: center;
}
